<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header.html :: header"></header>

<div class="container mt-5 mb-5">
    <h3>Изменить инициативу</h3>
    <div th:each="el : ${initiative}" class = "alert mt-2">
    <form method="post">
        <input type="text" name="name" th:value="${el.name}" placeholder="Введите тему инициативы" class="form-control"><br>

        <select name="status">
            <option th:text="${el.status}"></option>
            <option th:each="status : ${initiativeStatus}" th:text="${status}"></option>
        </select><br>

        <textarea name="text"  placeholder="Опишите вашу проблему/ваше предложение" th:text="${el.text}" class="form-control"/><br>
        <input type="number" th:value="${el.cost}" name="cost" placeholder="Введите примерную стоимость реализации" class="form-control"><br>
        <input type="text" name="author" th:value="${el.author}" placeholder="Введите ваше ФИО, институт, факультет, номер группы" class="form-control"><br>
        <input type="text" name="performerAddress" th:value="${el.performerAddress}" placeholder="Введите институт, если ваша тема локальна" class="form-control"><br>
        <button type="submit" class="btn btn-success">Обновить заявку</button>
    </form>
    </div>

</div>

<div th:insert="blocks/footer.html :: footer"></div>
</body>
</html>