<div th:fragment="header">
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
        <p class="h5 my-0 me-md-auto fw-normal">UrRU</p>
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 text-dark" href="/">Главная</a>

            <a class="p-2 text-dark" href="/blog/add">Подать заявку</a>
            <a class="p-2 text-dark" href="/blog/my">Мои заявки</a>
            <a class="p-2 text-dark" href="/blog">Blog</a>
            <a class="p-2 text-dark" href="/about">О нас</a>w

        </nav>
        <div  th:unless="${#httpServletRequest.remoteUser}">
            <a class="btn btn-outline-primary" href="/login">Войти</a>
        </div>
        <div th:if="${#httpServletRequest.remoteUser}">
            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Выйти"/>
            </form>
        </div>
    </header>
</div>